.MuiButton-list {
  .MuiButton-label {
    justify-content: flex-start;
  }

  .MuiButton-root {
    text-transform: none;
    font-weight: 400;
  }
}

.MuiLink-item {
  .MuiLink-root {
    text-decoration: none !important;
  }
}

.app-layout {
  display: flex;
}

.app-menu {
  overflow-y: scroll;
  height: 100vh;

  .menu-item-icons {
    position: absolute;
    right: 12px;
  }

  a,
  a:hover {
    color: unset;
    text-decoration: none;
  }

  .MuiMenuItem-root {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;

    padding: 12px 156px 12px 24px;
    min-width: 240px;

    .MuiButtonBase-root {
      margin-left: 8px;
      padding: 8px;
    }
  }

  .MuiMenuItem-root.active {
    background: #e8f0fe;
    color: #1967d2;
  }

  .MuiMenuItem-root.inactive {
    color: #999;
  }
}
